<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h2>"Welcome, <%= @user.username %>!"<h2>

<h2>Here is Your Sandwich Platter<h2>
<h4>
<ul>
<%@user.sandwiches.each do |sandwich|%>
<li><%=sandwich.sandwich_name%></li>
<li><%=sandwich.ingredients%></li>
<%if sandwich.user == @current_user%>
<h3><a class="button" href="/sandwiches/<%=sandwich.id%>/edit">Edit a Sandwich</a></h3>

<form action="/sandwiches/<%=sandwich.id%>" method="post">
 <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Sandwich">
</form>
<%end%>
<%end%>
</ul> </h4>

<h3><a class="button" href="/sandwiches/new">Create a New Sandwich</a></h3>

<h3><a class="button" href="/logout">Logout</a></h3>

